title: TSA
description: TON Symbolic Analyzer
remote_theme: just-the-docs/just-the-docs

domain: tsa.github.io       # if you want to force HTTPS, specify the domain without the http at the start, e.g. example.com
url: https://tsa.github.io  # the base hostname and protocol for your site, e.g. http://example.com
baseurl: /tsa     # place folder name if the site is served in a subfolder

plugins:
  - jekyll-remote-theme
  - jekyll-seo-tag
  - webrick

aux_links:
  TSA on GitHub: https://github.com/espritoxyz/tsa

aux_links_new_tab: true

# Enable or disable the site search
# Supports true (default) or false
search_enabled: true

search:
  # Split pages into sections that can be searched individually
  # Supports 1 - 6, default: 2
  heading_level: 2
  # Maximum amount of previews per search result
  # Default: 3
  previews: 3
  # Maximum amount of words to display before a matched word in the preview
  # Default: 5
  preview_words_before: 5
  # Maximum amount of words to display after a matched word in the preview
  # Default: 10
  preview_words_after: 10
  # Set the search token separator
  # Default: /[\s\-/]+/
  # Example: enable support for hyphenated search words
  tokenizer_separator: /[\s/]+/
  # Display the relative url in search results
  # Supports true (default) or false
  rel_url: true
  # Enable or disable the search button that appears in the bottom right corner of every page
  # Supports true or false (default)
  button: false

# Heading anchor links appear on hover over h1-h6 tags in page content
# allowing users to deep link to a particular heading on a page.
#
# Supports true (default) or false
heading_anchors: true

# Color scheme supports "light" (default) and "dark"
color_scheme: dark

callouts:
  highlight:
    #    title: Highlight
    color: grey-dk

callouts_opacity: 0.1

# For copy button on code
enable_copy_code_button: true

# Back to top link
back_to_top: true
back_to_top_text: "Back to top"
